{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block nav %}
    Home
{% endblock %}

{% block body %}
    <div class="home-title">
        <h2>Hello, {{ name.username }}</h2>
    </div>
    <div class="home-container">
        <a class="btn btn-outline-primary btn-lg" href="/new_constr">
            <div class="btn-content">
                <i class="lni lni-circle-plus"></i>
                <p>New Construction</p>
            </div>
        </a>
        <a class="btn btn-outline-primary btn-lg" href="/mng_constr">
            <div class="btn-content">
                <i class="lni lni-construction"></i>
                <p>Manage Constructions</p>
            </div>
        </a>
        <a class="btn btn-outline-primary btn-lg" href="/mng_workers">
            <div class="btn-content">
                <i class="lni lni-helmet"></i>
                <p>Manage workers</p>
            </div>
        </a>
        <a class="btn btn-outline-primary btn-lg" href="/register_worker">
            <div class="btn-content">
                <i class="lni lni-enter"></i>
                <p>Resgister worker</p>
            </div>
        </a>
        <a class="btn btn-outline-primary btn-lg" href="/delete_worker">
            <div class="btn-content">
                <i class="lni lni-exit"></i>
                <p>Delete worker</p>
            </div>
        </a>
        <a class="btn btn-outline-danger btn-lg" href="/logout">
            <div class="btn-content">
                <i class="lni lni-cross-circle"></i>
                <p>Log Out</p>
            </div>
        </a>
    </div>
{% endblock %}
